/* .movie-img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 240px;
	width: 180px;
} */

.movie-img {
	margin: auto;
	height: 340px;
	width: 210px;
}

/* .title-container {
	display: flex;
	align-items: center;
	width: 400px;
	height: 80px;
} */

.movie-genre-container {
}

.movie-year {
}

.movie-rating {
}

.movie-plot {
}

.active-rooms {
}
